:root {
  --backDark: #203620;
  --backLight: #3d663d;
  --textColor:#a0eaa0;
  --coolcolor: #c2eafa;
  --shadowColor:#192919;
  background-color: var(--backDark);
  color: #a0eaa0;
}
a{
  color: var(--textColor);
}

#cat-section {
  background-color: var(--backLight);
  color: var(--textColor);
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 2em;
  padding-bottom: 2em;
}
#cat-section figure {
  transition: all 0.5s;
  display: inline-block;
  background-color: var(--backDark);
  border-radius: 10px;
}
#cat-section figcaption {
  padding: 10px;
  transition: all 0.5s;
}
#cat-section figure:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px var(--shadowColor);
  border-color: var(--textColor);
  border-style: solid;
  border-width: .5px;
}

#cat-section img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 300px;
}
#cat-section figure:hover figcaption{
  background-color: var(--textColor);
  color: var(--backDark);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#cat1{
  background-image: url("./cats/cat1.jpg");
}
#cat2{
  background-image: url("./cats/cat2.jpg");
}
#cat3{
  background-image: url("./cats/cat3.jpg");
  background-position: bottom;
}
.catphoto{
  height: 300px;
  width: 300px;
  background-position: center;
  background-size:cover ;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* This is the font stuff */
body {
  font-family: "Rubik", sans-serif;
}
